.game
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-row-gap: 20px;
    box-sizing: border-box;
}

.grid-panel
{
    display: grid;
    width:fit-content;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(4,50px);
    grid-gap: 0;
    border-top:1px solid black;
    border-left:1px solid black;
}

.grid-cell
{
    border:1px solid black;
    border-left:none;
    border-top:none;
    text-align:center;
    width: 50px;
    height: 50px;
}
